* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  color: white;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aeaeae;
  flex-basis: 25%;
  transition: all .2s;
}
.item:hover {
  flex-basis: 50%;
}
.item-1{
  background: url(../img/1.jpg) no-repeat center center;
  background-size: cover;
}
.item-2{
  background: url(../img/2.jpg) no-repeat center center;
  background-size: cover;
}
.item-3{
  background: url(../img/3.jpg) no-repeat center center;
  background-size: cover;
}
.item-4{
  background: url(../img/4.jpg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 640px) {
  .slider {
    flex-flow: column;
    height: 100vh;
  }
  .item {
    width: 100%;
  }
  .item:hover {
    flex-grow: 70%;
  }
}